@import "../../mixin.scss";

.modal-content {
  .modal-header {
    background-color: $crystal_blue;

    h4 {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      color: rgb(255, 255, 255);
    }
  }

  .modal-footer {
    justify-content: space-between !important;
    background-color: $crystal_blue;

    button {
      background: $crystal_blue;
    }
  }
}
