@import "../../mixin.scss";

.container-searchLocation {
  height: 100vh;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding: 60px 0;

  .title-search {
    display: flex;
    align-items: center;
    height: fit-content;
    position: relative;
    padding: 30px 130px;
    z-index: 3;

    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      // opacity: 0.8;
      z-index: 1;
      position: absolute;
      left: 0;
      transform: rotate(10deg);
    }

    h4 {
      color: $crystal_blue;
      font-weight: bold;
      font-size: 2.2rem;
      z-index: 2;
    }
  }

  .arrow-gif {
    width: 7rem;
    z-index: 1;
  }

  .form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0 20px 20px;
    z-index: 3;
  }

  .Spinner {
    color: $crystal_blue;
    width: 7px;
    height: 7px;
    margin-bottom: 10px;
  }

  .wrapper-neighborhood {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;

    .container-map {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      border-radius: 20px;
      box-shadow: 5px 0px 10px 10px rgba(0, 0, 0, 0.103);

      .leaflet-container {
        width: 100%;
        height: 100%;
        border-radius: 14px;
      }
    }

    .container-info {
      width: 50%;
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 60%;
        height: 80%;
        object-fit: contain;
        //margin-bottom: 20px;
      }

      span {
        color: $crystal_blue;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 2rem;
        z-index: 3;
      }
      p,
      h1 {
        z-index: 2;
        color: $crystal_blue;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.1);
        }
      }

      p {
        font-size: 1.3rem;
        margin-bottom: 1.3rem;
      }

      .container-choiceNeighborhood {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .container-neighborhoods {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;

          .wrapper-button {
            z-index: 3;
            padding: 8px 0 15px 5px;
          }

          #btn-zone {
            transition: transform 0.5s;
            width: 7rem;
            height: 5rem;

            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}
