@import "../../mixin.scss";

.container-nav {
  text-align: right;
  margin-right: 10px;

  a {
    color: #1aa7bd;
  }

  a:hover {
    color: $crystal_blue;
  }
}

.arrow {
  position: relative;
  bottom: 3.5rem;
}
