@import "../../mixin.scss";
@import "../../Animation/styles.scss";

.container {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  width: 100%;
  height: 5rem;
  top: 0;
  align-items: center;
  justify-content: space-between;
  animation: slideMe 1s ease-in;
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  .container-nav {
    display: flex;
  }

  .nav-item {
    a {
      color: $crystal_blue;
      transition: 0.3s;
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      display: flex;
      align-items: center;
      transition: transform 0.5s;
    }

    a:hover {
      color: #ececec !important;
      transform: scale(1.2);
    }
  }
}

.container-logo {
  display: flex;
  align-items: center;
  margin-right: 25px;
  img {
    width: 45px;
    height: 45px;
    text-align: center;
  }

  @media screen and (max-width: 554px) {
    img {
      display: none;
    }
    h3 {
      display: none;
    }
  }

  h3 {
    margin-bottom: 0px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(7, 71, 66);
    span {
      color: #ececec;
      font-weight: 400;
    }
  }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $crystal_blue !important;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;

  animation: slideMe 1s ease-in;
}

.main {
  width: 100%;
  height: 80vh;

  background: linear-gradient(
      135deg,
      rgba(12, 117, 117, 0.9) 0%,
      rgba(28, 120, 148, 0.8) 100%
    ),
    url("../../images/jp.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url("../../images/wave-small.png") center no-repeat;
  background-size: cover;
}

.main-message {
  width: 100%;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);
  text-align: center;
}

.main-massage h3 {
  font-size: 1.6rem;
}

.main-message h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.main-message p {
  text-transform: lowercase;
  font-size: 2rem;
}

#btn {
  background-color: $crystal_blue;
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  transition: transform 0.5s;
}

#btn:hover {
  background-color: #1e7d8a;
  transform: scale(1.1);
}

@media screen and (min-width: 350px) {
  .main-message {
    transform: translateY(40%);
  }
}

@media screen and (min-width: 470px) {
  .main::before {
    height: 9.4rem;
    background: url("../../images/wave-medium.png");
    background-size: cover;
  }
}

@media screen and (max-width: 370px) {
  .main::before {
    height: 7.4rem;
    background: url("../../images/wave-small.png");
    background-size: cover;
  }
}

@media screen and (min-width: 950px) {
  .main::before {
    height: 22.4rem;
    background: url("../../images/wave-large.png");
    background-size: cover;
  }
}
