@import "../../mixin.scss";

.footer {
  height: 100px;

  background: linear-gradient(
      135deg,
      rgba(12, 117, 117, 0.9) 0%,
      rgba(28, 120, 148, 0.8) 100%
    ),
    url("../../images/jp.jpg") center no-repeat fixed padding-box;
  background-size: cover;
  position: relative;

  .line-up {
    padding-left: 27px;
  }

  .row {
    align-items: center;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    color: #c4c4c4 !important;
    font: 12px;
    text-align: center;
    margin: 10px 0 0 8px;
  }

  p.secondary {
    color: #fff !important;
    font: 14px;
    margin: 0px;
  }
}

.logo-lighthouse {
  height: 40px;
}
