@import "../../mixin.scss";

.modal-content {
  .modal-header {
    border-bottom: 0 !important;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }

    h5 {
      color: white;
      text-align: center;
      margin: 50px 0 0 20px;
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;

    .use-comment {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    p {
      margin-top: 15px;
      margin-bottom: 0 !important;
      color: $grey_color;
    }
  }
  .footer-modalMessage {
    border-top: 0 !important;
    justify-content: flex-end !important;
  }
}

#buttonClose {
  background-color: $crystal_blue;

  &:hover {
    color: #ccc;
  }
}
