@import "./mixin";

//font-family: 'Montserrat', sans-serif;
//font-family: 'Futura';

/* Your default CSS. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

html {
  height: 100%;
  scroll-behavior: smooth; // scroll suavizado
}

body {
  font-family: "Nunito", sans-serif !important;
  font-size: 0.9375rem;
  top: 0px;
  left: 0px;
  overflow-x: hidden;

  max-width: 100%;
  background-color: white !important;
  background-position: bottom !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  opacity: 1;

  .primary-button {
    background-color: $crystal_blue;
    color: #fff;
    border-color: $crystal_blue;
    &:hover {
      background-color: $crystal_blue;
      border-color: $crystal_blue;
    }
  }

  .secondary-button {
    background-color: #fff;
    color: $crystal_blue;
    border-color: $crystal_blue;
    &:hover {
      background-color: #fff;
      color: $crystal_blue;
      border-color: $crystal_blue;
    }
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: 20px;
    background: $crystal_blue;
  }

  @media only screen and (min-width: 1000px) {
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
