$green: #4cd964;

$green_light: #26dea8;

$red: #ef4040;

$purple: #6f5a9a;

$purple_light: #8e2de2;

$purple_dark: #3e3f68;

$blue: #5157bb;

$body: #f8f8f9;

$grey_color: #6d6d6d;

$crystal_blue: #00626b;

$bg-theme-light: #fff;
$color-theme-light: #222;

$bg-theme-dark: #222;
$color-theme-dark: #fff;
