@import "../../mixin.scss";
@import "../../Animation/styles.scss";

.content {
  display: flex;
  height: 100vh;
  padding: 0px 25px;
  scroll-snap-align: center;
  margin-top: 1rem;

  .content-left {
    width: 45%;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;

      border-radius: 25px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.315);
      margin-top: 100px;

      z-index: 2;
      animation: slideMe 1s ease-in;
    }
  }
  .content-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12%;

    .information {
      margin-top: 6.5rem;
      text-align: center;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.1);
      }

      h2 {
        font-size: 5.5vh;
        color: $crystal_blue;
        font-weight: 600;
        animation: slideMe1 0.7s ease-in;
      }
      p {
        margin-bottom: 0.5rem;
        font-size: 1.9rem;
        color: rgb(43, 75, 73);
        line-height: 1.8rem;
        animation: slideMe1 0.7s ease-in;
        font-family: sans-serif;
      }
    }
  }
  @media only screen and (max-width: 700px) {
    .content-left {
      display: none;
    }
    .content-right {
      width: 100%;
    }
  }
}
