@import "../../mixin.scss";

.my-infors {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(12, 117, 117, 0.9) 0%,
      rgba(28, 120, 148, 0.8) 100%
    ),
    url("../../images/jp.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative;
  margin-top: 5rem;
}

.my-infors::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: url("../../images/wave-small-reversed.png") center no-repeat;
  background-size: cover;
}

.my-infor {
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 8rem;
}

.my-infor-text-box {
  padding: 0 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;

  h1 {
    font-size: 60px;
    transition: transform 0.5s;
  }

  h1:hover {
    transform: scale(1.1);
  }

  p {
    font-size: 25px;
    transition: transform 0.5s;
  }

  p:hover {
    transform: scale(1.1);
  }
}

#my-img {
  display: inline-block;
  text-align: center;
  width: 14em;

  height: 14rem;
  border-radius: 100%;
  border: 3px solid rgba(35, 151, 187, 0.8);
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 350px) {
  .my-infors::before {
    height: 9.4rem;
    background: url("../../images/wave-medium-reversed.png");
    background-size: cover;
  }
}

@media screen and (min-width: 950px) {
  .my-infors::before {
    height: 15.7rem;
    background: url("../../images/wave-large-reversed.png");
    background-size: cover;
  }
}

.container-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    color: #fff;
    transition: 0.3s;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    transition: transform 0.5s;
  }

  a:hover {
    color: rgba(149, 230, 255, 0.8) !important;
    transform: scale(1.4);
  }
}
