@import "../../mixin.scss";

.modal-content {
  .modal-header {
    background-color: $crystal_blue;

    h4 {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      color: rgb(255, 255, 255);
    }
  }
  .form-label {
    margin-top: 10px;
  }

  .modal-footer {
    justify-content: space-between !important;
    background-color: $crystal_blue;

    button {
      background: $crystal_blue;

      &:hover {
        color: #ccc !important;
      }
    }
  }
}

.container-disconnected {
  .modal-header {
    h3 {
      color: white;
      text-align: center;
    }
  }
}

#image-error {
  width: 90%;
  margin: 20px 0 10px 25px;
}


